<nav class="navbar navbar-expand-md navbar-dark bg-main">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">ELearning</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <% if (!user) { %>
        <li><a href="/login">Login</a></li>
      <% } else { %>
        <li><a href="/courses">Browse</a></li>
        <li><a href="/mostpopular">Most Popular</a></li>
        <% if (user.role === "teacher") { %>
          <li>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
            aria-haspopup="true" aria-expanded="false">
              Instructor
            </a>

            <ul class="dropdown-menu">
              <li><a href="/teacher/dashboard">Intructor's Dashboard</a></li>
            </ul>

          </li>
        <% } else { %>
          <li><a href="/become-an-instructor">Become an Instructor</a></li>
        <% } %>

        <li><a href="/profile"><%= user.profile.name %></a></li>
        <li><a href="/logout">Logout</a></li>
      <% } %>

    </ul>

  </div>
</nav>
