<% layout('boilerplate') %>

<div class="container">
<script type="text/javascript">!function(t,e){"use strict";var r=function(t){try{var r=e.head||e.getElementsByTagName("head")[0],a=e.createElement("script");a.setAttribute("type","text/javascript"),a.setAttribute("src",t),r.appendChild(a)}catch(t){}};t.CollectId = "5adbd5584b309d9bbd037153",r("https://s3.amazonaws.com/collectchat/launcher.js")}(window,document);</script>

  <div class="row">
    <div class="jumbotron" style='min-height: 75px;background-color:transparent !important;text-shadow: black 0.3em 0.3em 0.3em;color: white;background:transparent;'>
  <div class="container">
    <p class="text-center">
      <h2 class="text-center">All Courses</h2>
    </p>
  </div>
</div>

    
    <hr />

    <% for (var i = 0; i < courses.length; i++) { %>
    <div class="col-md-4">

      <a href="/courses/<%= courses[i]._id %>"
        style="text-decoration: none; color: #34495e">
        <div class="panel panel-default">

          <div class="panel-body" style="border:0px;height:250px;overflow-y:auto">
            <h4><%= courses[i].title %></h4>
            <p>Description:</p>
            <p style="text-align:justify"><%= courses[i].desc %></p>
          </div>

      </div>
      </a>
    </div>
    <% } %>

  </div>

</div>
